<a href="https://colab.research.google.com/github/anand7114/FDS/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
from dateutil.parser import parse

data={
    'Event ID':[1,2,3,4,5],
    'Event date':['1/12/2023','December 05,2023','2023-12-03','12.04.2023','5th Dec 2023']
}
df =pd.DataFrame(data)
print("Original dataset")
print(df,'\n')

Original dataset
   Event ID        Event date
0         1         1/12/2023
1         2  December 05,2023
2         3        2023-12-03
3         4        12.04.2023
4         5      5th Dec 2023

In [10]:
def parse_date(date_str):
  try:
    return parse(date_str,dayfirst=False)
  except ValueError:
    return pd.NaT
df['Event Date']=df['Event date'].apply(parse_date)
df['Event Date']=df['Event Date'].dt.strftime('%Y-%m-%d')
print("Result")
print(df)

Result
   Event ID        Event date  Event Date
0         1         1/12/2023  2023-01-12
1         2  December 05,2023  2026-12-05
2         3        2023-12-03  2023-12-03
3         4        12.04.2023  2023-12-04
4         5      5th Dec 2023  2023-12-05

In [12]:
data ={
    'Product ID':[101,102,103,104,105],
    'Product Name':['Apple','Banana',"Orange",'baNana','Apple']
}
df=pd.DataFrame(data)
df['Product Name'] = df['Product Name'].str.lower()

print(df,'\n')

   Product ID Product Name
0         101        apple
1         102       banana
2         103       orange
3         104       banana
4         105        apple

In [13]:
import pandas as pd

data={
    'Sample ID':['A1','A2','A3','A4','A5'],
    'Weight':['70 kg','154 lbs','68 KG','100 pound','72 kilograms']
}

df = pd.DataFrame(data)

df['Numeric Value'] = df['Weight'].str.extract(r'(\d+\.?\d*)').astype(float)
df['Unit'] = df['Weight'].str.extract(r'([a-zA-Z]+)')[0].str.lower()

def convert_to_kg(row):
  if row['Unit'] in ['kg','kilograms']:
    return row['Numeric Value']
  elif row['Unit'] in ['lbs','pound']:
    return row['Numeric Value'] * 0.453592
  else:
    return None

df['Weight in Kg'] = df.apply(convert_to_kg,axis=1)

print(df[['Sample ID','Weight','Weight in Kg']])

  Sample ID        Weight  Weight in Kg
0        A1         70 kg     70.000000
1        A2       154 lbs     69.853168
2        A3         68 KG     68.000000
3        A4     100 pound     45.359200
4        A5  72 kilograms     72.000000